.blog-item-wrapper {
   width: calc(50% - 10px);
   border-radius: 8px;
   margin-bottom: 20px;
   overflow: hidden;
   border: 0.5px solid #535353;
   box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.2);
}
.blog-item-wrapper > .img-thumb {
   width: 100%;
   height: 200px;
   object-fit: cover;
}
.blog-item-wrapper > .content-detail {
   padding: 16px;
}
.blog-item-wrapper > .content-detail > .title-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.blog-item-wrapper > .content-detail > .title-wrapper > .item-title {
   margin: 0;
   font-size: 20px;
   font-weight: 500;
   color: #e5e7e9;
}
.blog-item-wrapper > .content-detail > .title-wrapper > .menu-wrapper {
   display: flex;
   align-items: center;
}
.blog-item-wrapper > .content-detail > .title-wrapper > .menu-wrapper > .edit {
   font-weight: 500;
   color: #f03af4;
   cursor: pointer;
   margin: 0;
   margin-right: 14px;
}
.blog-item-wrapper
   > .content-detail
   > .title-wrapper
   > .menu-wrapper
   > .delete {
   font-weight: 500;
   color: #e91e63;
   cursor: pointer;
   margin: 0;
   margin-left: 14px;
}
.blog-item-wrapper > .content-detail > .item-author {
   margin: 0;
   margin-top: 4px;
   font-size: 14px;
   color: #999;
}
.blog-item-wrapper > .content-detail > .item-desc {
   margin: 0;
   margin-top: 18px;
   font-size: 16px;
   color: #e5e7e9;
}
