.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   background: #282c34;
   border-bottom: 0.5px solid #535353;
}
.header > .logo-name {
   font-size: 20px;
   font-weight: 500;
   color: #e5e7e9;
   margin: 0;
}
.header > .menu-item {
   font-size: 18px;
   color: #e5e7e9;
   text-decoration: none;
   cursor: pointer;
}
